.binfile {
    background-color: greenyellow;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    border-color:black;
}
.Link {
    background-color: lightblue;
    color: black;
    font-family: sans-serif;
    border-color: black;
}